<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
	<title>Simple VOD Player</title>
</head>

<script>
	// bootstrapping models to save one AJAX
	var movieEntries = {{ entries|json|safe }}
	var sessionId = "{{viewingSession.sessionId}}"
	var videosViewed = {{ viewingSession.videosViewed|json|safe }}
</script>

<body>

</body>
<script src="/js/bundle.min.js"></script>
</html>
